.container-fluid {
  /* background-color: #000000b0 !important; */
  background-color: #ff8700 !important;
  color: black !important;
}
/* .container {
  padding: 15px;
} */
/* h1,
h2,
p,
li,
span,
strong {
  color: #fff;
} */
.display-h1 {
  font-size: 50px !important;
  line-height: 1.2 !important;
}
.container-fluid:nth-child(even) {
  background-color: #2a4776 !important;
  color: #fff !important;
}
.container-fluid:nth-child(even) h2 {
  color: #fff !important;
}
img {
  border-radius: 0.25rem !important;
}
hr {
  height: 5px !important;
  border: 0 !important;
  margin: 0 !important;
  box-shadow: 0 10px 10px -10px #8c8b8b inset !important;
}
